<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<meta property="og:title" content="Streve" />
     <meta property='og:image' content="<%= image_url('streve.png') %>"/>
     <meta property="og:description"
       content="Streve is a fullstack clone of the popular fitness application Strava"
     />
     <meta property="og:url"
       content="https://streve.herokuapp.com/"
     />
<main id="root"></main>

