

#dashboardContainer{
    width: 90%;
    margin-top: 8%;
    margin-left: 5%;
    // height: 1000px;
    display: flex;
}


#userProf{
    //  border: 1px solid gray;
     width:300px !important;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     z-index: 5;
}

#profPhotoDashboard svg{
    height: 100px;
    width: 100px;
    z-index: 112;
    color: rgb(75, 75, 75);

}

#profPhotoDashboard{
    z-index:110;
}
#profBox{
    width: 90%;
    box-shadow: 0px 0 5px #e5e2e2;
    border-radius: 5px;
    position: absolute;
    top: 56px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background: rgb(255, 255, 255);

}

#profBox a{
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;

}

#userFeed{
    margin-top: 56px;
    width: 660px;
    height: 1000;
    // border: 1px solid gray
}

#dashboardActvity{
    margin-top: 20px;
    margin-left: 10px;
    // border: 1px solid gray;
    box-shadow: 0px 0 5px #e5e2e2;

}

#workoutCreator{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration:none; 
    color: black;
    padding: 0px;
}

#workoutCreator:hover{
    color:rgb(82, 149, 248);
}

#latestActivityLink:hover{
    color:rgb(82, 149, 248);
}
#linkWorkoutCreator{
    text-decoration: none;
}
#userFeed{
    margin-top: 36px;
}
#profBoxLink:hover{
     color:rgb(82, 149, 248);
}
#smallWorkout{
    margin-top: 0px;
     background: rgb(255, 255, 255);
     border-radius: 5px;
}
#smallworkouttitle{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 10px;
    padding-left: 5px;
}
#profBox a{
    text-decoration:none; 
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: black;
    padding: 20px;
}


#latestActivity{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid rgb(218, 218, 218);
    width: 100%;
}

#latestActivity h1{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: lighter;
}

#latestActivity a{
    padding-top: 10px !important;
    margin-top: 10px !important;
    font-size: 15px;
}

#personalLinks{
    display: flex;
    width: 100%;
}

#infoPics{
    display:flex;
    margin: 30px;
    flex-direction: column;
}

#workoutGraphic img{
    height: 50px;
    width: 50px;
}

#workoutGraphic{
    display: flex;
    width: 300px;
    border-bottom: 1px solid rgb(207, 207, 207)
}

#workoutGraphicinfo{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

#workoutGraphicinfo div{
    margin-top: 10px;
    font-size: 13px;
    font-weight: lighter;
    padding-bottom: 10px;
}

#routesGraphic{
    margin-top: 20px;
    display: flex;
    width: 300px;
    border-bottom: 1px solid rgb(207, 207, 207)
}

#routesGraphicinfo{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

#routesGraphicinfo div{
    margin-top: 10px;
    font-size: 13px;
    font-weight: lighter;
    padding-bottom: 10px;
}

#routesGraphic img{
    height: 50px;
    width: 50px;
}

#usersGraphic{
    margin-top: 20px;
    display: flex;
    width: 300px;
    border-bottom: 1px solid rgb(207, 207, 207)
}

#usersGraphicinfo{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

#usersGraphicinfo div{
    margin-top: 10px;
    font-size: 13px;
    font-weight: lighter;
    padding-bottom: 10px;
}

#usersGraphic img{
    height: 50px;
    width: 50px;
}

#suggestedFriends{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#suggestedFriends h1{
    margin-bottom: 10px;
}

#suggestedProf{
    display:flex;
    margin: 5px;
}
#suggestedProf svg{
    height: 30px;
    width: 30px;
}

#suggestedProf a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 5px;
}

#suggestedProf a:hover{
    color: rgb(82, 149, 248)
}

#dayofweekchart{
    width: 88% !important;
    height: 240px!important;
    margin: 0px !important;
    position: absolute;
    top: 300px;
    padding-top: 20px !important;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px !important;
    background: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0 5px #e5e2e2;
    border-radius: 5px;
}

#dayofweekchart div{
    width: 88% !important;
}

#dayofweekchart h1{
    padding-bottom: 15px;
    font-weight: bold;
}

#topStatsProf{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#topStatsProf svg{
    height:40px;
    width: 40px;
    padding: 5px;
    color:rgb(75, 75, 75)
}

#littleProf{
    display:flex;
    align-items: center;
}
@media (max-width: 1350px) 
{
    #infoPics
    {
        display: none;
    }
}

@media (max-width: 950px) 
{
    #userProf
    {
        display: none;
    }
}