#topHeader{
    width: 100%;
    position:fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    display:flex;
    height:50px;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px #e5e2e2;
    z-index: 100; 
}

#title {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    color:#FF8C00
}

#title a{
    font-size: 30px;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    color:#FF8C00;
    text-decoration: none;
}


body{
    background-color: #f5f5f8;
    z-index: -1;

}



#plusDropDown svg{
    height: 35px;
    width: 35px;  
    position:fixed;
    z-index: 5; 
    top: 3px;
    padding-top: 5px;
    // padding-right: 12px;
    // padding-left: 12px;
    right: 100px;
    font-family: 'Roboto', sans-serif;
    color: rgb(253, 110, 57);
    z-index: 105;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right:1px;
}

#plusDropDown svg:hover{
    color: rgb(211, 92, 49);
}

.dropdown button{
    // height: 35px;
    // width: 35 px;  
    position:fixed;
    z-index: 5; 
    // padding: 5px;
    right: 100px;
    top: 20px;
}

#showmenu{
    left: 90%;
    top: 30px;
    z-index:200;
    width: 50%;
    height: 50%;
}

header{
    z-index: 100;
}


#CreateDropdown{
    background-color: rgb(252, 252, 252);
    position: fixed;
    // padding: 10px;
    top: 52px;
    font-family: 'Roboto', sans-serif;
    // border-radius: 3px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(179, 177, 177);
    z-index: 104;
    right: 100px;
    // padding: 10px;
}

#CreateDropdown a{
    // padding: 20px;
    font-size: 15px;
}

#CreateDropdown li{
    width: 200px;
    align-items: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#CreateDropdown li:hover{
    background-color: rgb(202, 202, 202);

}

#CreateDropdown a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
// #CreateDropdown a:hover{
//     // padding: 5px;
//     font-size: 15px;
//     // font-weight: bold;
//         background-color: grey;
// }

#svgSelect svg{
    background-color: rgb(252, 252, 252);
    z-index: 110;
    border-left: 1px solid rgb(179, 177, 177);
    border-right: 1px solid rgb(179, 177, 177);
    border-radius: 0px;
}
#plusDropdown {
    margin : 1px;
}

#logosGit svg{
    position: fixed;
    height: 30px;
    z-index: 90000 !important;
    overflow: visible;
    top: 10px;
    right:60px;
    color: gray;
}

#logosLink svg{
    position: fixed;
    height: 30px;
    z-index: 90000 !important;
    overflow: visible;
    top: 10px;
    right: 20px;
    color: gray;
}



#explore svg{
    height: 35px;
    width: 35px;  
    position:fixed;
    z-index: 5; 
    top: 3px;
    padding-top: 5px;
    // padding-right: 12px;
    // padding-left: 12px;
    left: calc(10% + 150px);
    font-family: 'Roboto', sans-serif;
    color: rgb(253, 110, 57);
    z-index: 105;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right:1px;
}

#explore svg:hover{
    color: rgb(211, 92, 49);
}

#explore {
    margin : 1px;
}

#exploreTitle{
    left: calc(10% + 150px);
    position:fixed;
    z-index: 99999; 
    top: 0px;
    color:black;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid red;
    width: 100px;
    height: 50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#exploreTitle:hover{
    color:red;
    border-left: 1px solid rgb(179, 177, 177);
    border-right: 1px solid rgb(179, 177, 177);
}
#CreateDropdownExplore{
    background-color: rgb(252, 252, 252);
    position: fixed;
    // padding: 10px;
    top: 50px;
    font-family: 'Roboto', sans-serif;
    // border-radius: 3px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px !important;
    border: 1px solid rgb(179, 177, 177);
    z-index: 104;
    left: calc(10% + 150px);
    // padding: 10px;
}

#CreateDropdownExplore{
    width: 200px;
    align-items: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#CreateDropdownExplore a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 20px;
}



#CreateDropdownExplore li{
    width: 200px;
    align-items: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#CreateDropdownExplore li:hover{
    background-color: rgb(202, 202, 202);

}