



.login-form-container{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.login-box{
    background: rgba(17, 17, 17, 0.8);
    padding-bottom: 20px;
    margin-top: 5%;
    width: 400px;
    height: 560px;
    border-radius: 5px;
    font-size: 20px;
}

.login-form{
    z-index: 0;
    color: rgb(122, 122, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entry-type{
    border-radius: 5px;
    height: 100px;
    padding-top: 5px;
    background: rgba(17, 17, 17, 0.8);
    z-index: 10;
    width: 100%;
    color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}
#entry-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
#text-inputs {
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
#username {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
    border:1px solid rgb(194, 194, 194) 

}

#email {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
    border:1px solid rgb(194, 194, 194) 
}

#password {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
    border:1px solid rgb(194, 194, 194) 
}
    // align-items: center;;
    // // justify-content: center;

#login-errors{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 2;
    background: red;
    align-items: center;
}

.session-submit{
    margin-top: 20px;

    background-color: orangered;
    color: white;
    outline: none;
    letter-spacing: 1px;
    height: 40px;
    border: none;
    border-radius: 3px;


}

.form-demo-button{
    background-color: orangered;
    color: white;
    outline: none;
    letter-spacing: 1px;
    height: 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;


}

.form-demo-button:hover{
    background-color: rgb(197, 53, 0);
}

.session-submit:hover{
    background-color: rgb(197, 53, 0);
}

.login-image{
    z-index: -3;
    position:fixed;
    object-fit: cover;
    height: 100%;
    width: 100vw;
}