#splash{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#splash-header{
    margin-top: 8%;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;

}
#signupLink{
    position:fixed;
    z-index: 5; 
    top: 10px;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    left: 80%;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    z-index: 100;
}
#loginLink{
    position:fixed;
    z-index: 5; 
    top: 10px;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    left: 80%;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    z-index: 100;
}

#loginClick{
     position:fixed;
    z-index: 5; 
    top: 10px;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    right: 150px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    z-index: 100;
}

.login-signup:hover{
    background-color: rgb(230, 230, 230);
}

.login-signup a{
    color:  rgb(77, 77, 77);
    text-decoration: none;
}

#phoneForm{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#phonepic{
    width: 600px;
}

#boxes a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:  rgb(77, 77, 77);
}
#boxes{
    padding: 15px;
    border: 1px solid gray;
    font-size: 15px;
    
    // padding-left: 50px;
    // padding-right: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
}

#text{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: ghostwhite;
    padding: 10px;
    padding-top: 20px;
    padding-right: 30px;
}
#leftbase{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#copyright{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    padding-right: 30px;
    color: rgb(94, 94, 94);
}
#smalltext{
    color:  rgb(155, 155, 155);
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;

}

#formColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#smallloginlink{
    color:  rgb(155, 155, 155);
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;

}

#smallloginlink a{
    text-decoration: none;
}
     
.splash-demo-button{
    margin-bottom: 20px;
    border: 1px solid gray;
    color:  rgb(77, 77, 77);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    // background-color: white;
    width: 58.5%;
    padding: 20px;
    padding-right:10px;
    color: white;
    background-color: rgb(253, 89, 30);
}

#base{
    display: flex;

}

#logosLinkBottom svg{
    z-index: 1000;
    color: white;
    z-index: 100;
}




#logosGitBottom svg{
    z-index: 1000;
    color: white;
    z-index: 100;
}

@media (max-width: 1000px) 
{
   
    #splash-header
    {
        font-size: 30px;
    }
    // #splash{
    //     height: 100vh
    // }
    #base{
        // position: absolute;
        bottom: 0;
    }
        #phoneForm{
        flex-direction: column;
    }
}


@media (max-width: 700px) 
{
    #splash-header
    {
        font-size: 0px;
    }
    #base{
        // position: absolute;
        bottom: 0;
    }


 
}

@media (max-width: 900px)
{
        #linksBelow{
        flex-direction: column;
    }
}

#myLinksBase{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

#myLinksHeader{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    padding-right: 30px;
    color: rgb(94, 94, 94);
    margin-top: 20px;
}

#logosAngelBottom{
    z-index: 99;
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-right: 30px;
    color: white;
    display: flex;    
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

#logosGitBottom{
    z-index: 99;
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-right: 30px;
    display: flex;    
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: white;
}

#logosLinkBottom{
    z-index: 99;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: flex;    
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: white;
}

#logosAngelBottom h1{
    margin-left: 5px;
    text-decoration: none;

}

#logosAngelBottom a{
    text-decoration: none;
    color: white
}

#logosLinkBottom h1{
    margin-left: 5px;
}

#logosGitBottom h1{
    margin-left: 5px;
}
#logosGitBottom a{
    text-decoration: none;
    color: white
}

#logosLinkBottom a{
    text-decoration: none;
    color: white
}

#checkUsOut{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

#signUpBase{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 10px;
    padding-top:20px;
}


#logInBase{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 10px;
    padding-top:10px;
    font-weight: lighter;
}


@media (max-width: 1200px) 
{
    #base
    {
        flex-direction: column;
        // align-items: center;
    }
    #leftbase{
        align-items: center;
        margin-left: 0px;
    }

}

#base{
    min-height: 300px;
    background-color: rgb(39, 41, 40);
    z-index: 8;
    color:rgb(70, 73, 71);
    overflow:auto;
    width: 100%
}
#linksBelow{
    display: flex;;
}