#showmap{
    height: 500px;
    width: 100%;
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
}


#showWorkout{
    background-color: rgb(255, 255, 255);
    display:flex;
    position: absolute;
    flex-direction: column;
    width: 80%;
    height: 880px;
    left: 10%;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 1px solid rgb(180, 180, 180)
}


#eleChart{
    // height: 10%;
    width: 100%;
}

#titleBox{
    height: 40px;
    border-bottom: 1px solid rgb(196, 196, 196);
    background: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

#titleBox h1{
    margin-left: 5%;
    letter-spacing: .8px;
    font-weight: bold;
    font-size: 25px;
    z-index: 6;
}

#box{
    display: flex;
    z-index: 2;
}

#boxright{
    display:flex;
    flex-direction: column;
    width: 50%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(202, 202, 202);

}

#boxleft{
    width: 50%;
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

#topBoxRight{
    display:flex;
    border-bottom: 1px solid rgb(202, 202, 202);
    justify-content: space-between;
    padding: 8px;
    margin: 15px;
    z-index: 2;
}

#titleBox a{
    background-color: orangered;
    color: white;
    outline: none;
    letter-spacing: 1px;
    height: 30%;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
    z-index: 2;
}

#editDeleteLinks{
    margin-right: 5%;
    display: flex;
    align-items: center
}

#workoutdesc{
    padding: 10px;
}

#showWorkoutstats{
    z-index: 10;
}
