#workoutform{
    position: relative;
    top: 35px; 
    font-family: 'Roboto', sans-serif;

}


#map{
   width: 100vw;
   height: 90vh;
}

#mapForm{
    //    margin-left: 51px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; 
}

#map{
    border: 1px solid rgb(165, 165, 165)
}

#mapInput{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 250px;
}

#bottombar{
    position: fixed;
    height: 100px !important;
    z-index: 10;
    box-shadow: 0px -5px 10px rgb(207, 207, 207);
    width: 100vw;
    bottom: 0;
    background: rgb(250, 250, 253);
    display: flex;
    align-items: center;
}

#showDistance{
    width: 200px;
    height: 100%;
    border: 1px solid rgb(230, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#distanceDisplay{
    font-size: 30px;
    font-weight: bold;
}

#estDisplay{
    font-size: 30px;
    font-weight: bold;
}

#estMovingTime{
    width: 200px;
    height: 100%;
    border: 1px solid rgb(230, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#climb{
    width: 200px;
    height: 100%;
    border: 1px solid rgb(230, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#climbDisplay{
    font-size: 30px;
    font-weight: bold;
}

#routeHeader{
    font-weight: bold;
    height: 20px;
    padding: 20px;
}

i {
    position:absolute;
}

#activityIcon{
    height: 50px;
}

#submitWorkout{
    width: 80%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 112, 60);
    outline: none;
    letter-spacing: 1px;
    height: 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    color: white
}

#loop{
    width: 80%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 112, 60);
    outline: none;
    letter-spacing: 1px;
    height: 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    color: white
}

#workoutSelect{
    width: 80%;
    height: 20px;
}

#durationInput{
    width: 80%;
    height: 30px;
}

#activityIcon {
    width: 200px;
    height: 100%;
    border: 1px solid rgb(230, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#workoutSelect{
    width: 80%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    height: 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid gray
}

#workoutFormDesc{
    width: 80%;
    height: 10%;
    font-family: 'Roboto', sans-serif;
}

#titleinput{
    width: 80%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
}

#workoutform svg{
    height: 80%;
    width: 80%
}

#removePoint{
     width: 80%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 112, 60);
    outline: none;
    letter-spacing: 1px;
    height: 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    color: white
}